.inputB {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 1px;
  background-color: #b2b5b6;
  transition: 0.3s;
}
.inputBorderB {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: #223b4d;
  transition: 0.3s;
}
.inputBorderL {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 0%;
  width: 1px;
  background-color: #223b4d;
  transition: 0.3s;
}
input:focus ~ .inputB {
    width: 0%;
}
input:focus ~ .inputBorderB {
  left: 0%;
  width: 100%;
}
input:focus ~ .inputBorderL {
  height: 100%;
}
